   <h3>'Project 1' Slides:</h3>
    	
    	<div class="row well add"> 
    		<form>
				Project Name: <input type="text" name="pn" />
				Directory: <a href="#" class="btn btn-inverse">Browse</a> <h6>/directory</h6>
				<br />
				<a href="#" class="btn btn-inverse">Create</a>
			</form>

    	</div>
    
    	<div class="row well events"> 
    		<h6>recent events</h6>
    		<ul>
    			<li>test.txt------moved-----03-24, 07:07 PM</li>
    			<li>index.html----saved-----03-23, 08:01 PM</li>
    			<li>style.css-----saved-----03-23, 07:59 PM</li>
    			<li>style.css-----moved-----03-23, 07:57 PM</li>
    			<li>notes.txt-----created---03-23, 07:55 PM</li>
    		</ul>

    	</div>
    	
    	<div class="row well files"> 
    	
    		<h6>directory: <h3>/project1</h3></h6>
    		<p>total # of files: <h3>13</h3></p>
    		<p>filetypes:<h6>.png .jpg .txt .html .js .css</h6> with % pie chart</p>
    		

    	</div>
    	
    	<div class="row well time"> 
    	
    		<p>total calculated time: <h3>14 hours</h3></p>
    		<p>Graph of work over the last 5 days</p>
    		<p>by time per day</p>
    		

    	</div>
    	
    	<div class="row well notes"> 
    		<form>
    			<textarea rows="6" cols="160">
					Project Notes: (saved at notes.txt in root dir)
				</textarea>
    		</form>

    	</div>
    	
    	<div class="row well actions"> 
    		<ul class="">
              <li><a href="#" class="btn btn-inverse"><i class="icon-lock icon-white"></i></a></li>
              <li><a href="#" class="btn btn-inverse"><i class="icon-cog icon-white"></i></a></li>
              <li><a href="#" class="btn btn-inverse"><i class="icon-remove icon-white"></i></a></li>
            </ul>

    	</div>
    	
    	<div class="row well edit"> 
    		<form>
				Project Name: <input type="text" name="pn" value="Project 1" />
				Directory: <a href="#" class="btn btn-inverse">Browse</a> <h6>/project1</h6>
				<br />
				<a href="#" class="btn btn-inverse">Update</a>
			</form>

    	</div>
    	
      
